CompileFlags:
  Add:
    - -DSDC_IMPLEMENTATION
    - -xc
    - -DTEST
    - -std=c89
    - -Wextra
    - -pedantic
    - -Wsign-conversion
    - -Wno-unused-variable
    - -Wno-unused-but-set-variable
    - -Wno-unused-function
